<div class="fh-pop-image-layer" aria-hidden="true">
  <figure class="fh-pop-image fh-pop-image--large" data-pop-image="hero" style="--pop-x: 6%; --pop-y: 18%; --pop-delay: .1s;"><img alt="" loading="lazy" data-fh-image="hero"></figure>
  <figure class="fh-pop-image fh-pop-image--thin" data-pop-image="dining" style="--pop-x: 68%; --pop-y: 24%; --pop-delay: .25s;"><img alt="" loading="lazy" data-fh-image="dining"></figure>
  <figure class="fh-pop-image fh-pop-image--small" data-pop-image="spa" style="--pop-x: 74%; --pop-y: 58%; --pop-delay: .4s;"><img alt="" loading="lazy" data-fh-image="spa"></figure>
</div>
